h1 {
    font-size: 44px;
    line-height: 56px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

p.large {
    font-size: 19px;
    line-height: 24px;
}

p.regular {
    font-size: 17px;
    line-height: 22px;
}

p.small {
    font-size: 14px;
    line-height: 18px;
}

p.micro {
    font-size: 8px;
    line-height: 8px;
}