$white : #fff;
$black : #000;

$airRed : #FF5A5F;
$airTeal : #00A699;
$airOrange : #FC642D;
$airDarkGray : #484848;
$airLightGray : #767676;

$tiny : 8px;
$small : 16px;
$base : 24px;
$large : 48px;
$xlarge : 64px;

$font : Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
